<div id="game-cover-slide" class="section-slide">
    <div class="about-wrap">
        <div class="about-header">
            <h5 class="">The Addition Game</h5>
        </div>
        <div class="about-body-wrap">
            <div class="about-body">
                <p class="">
                    Enter the correct sum of the pairs of numbers that will be presented to you
                </p>
                <div class="game-btn-line">
                    <button id="game-btn" (click)="selectOptions()" class="game-btn">Select Game Options</button>
                </div>
            </div>
        </div>
    </div>
</div>